In [2]:
import pandas as pd
import numpy as np

In [4]:
# pip install fsspec

In [5]:
proj = pd.read_csv("C://Users//user//Documents//DAB//3rd Sem//304//Project//combined_csv.csv")

In [6]:
proj.head(30)

,HadM_ID,icustay_id,charttime,vital_reading,High_Level_Vital_Name,label,UNITNAME,admission_type,diagnosis,submit_careunit,callout_wardid,gender,age,los,valuenum,valueuom,flag,labevents_itemid
0,119256,214210.0,2177-11-13 04:35:00,37.0,Respiratory,Spont RR,bpm,EMERGENCY,SEPSIS,NaN,1,F,27,7.4916,7.50,mg/dL,abnormal,50893
1,100990,228694.0,2122-01-04 03:56:00,97.0,ABG's,SaO2,NaN,EMERGENCY,CONGESTIVE HEART FAILURE;IDIOPATHIC DILATED CA...,NaN,17,M,32,18.9903,96.00,mg/dL,NaN,50931
2,100990,228694.0,2121-12-28 21:41:00,99.0,ABG's,SaO2,NaN,EMERGENCY,CONGESTIVE HEART FAILURE;IDIOPATHIC DILATED CA...,NaN,17,M,32,18.9903,82.00,fL,NaN,51250
3,100990,228694.0,2121-12-28 21:41:00,99.0,ABG's,SaO2,NaN,EMERGENCY,CONGESTIVE HEART FAILURE;IDIOPATHIC DILATED CA...,NaN,17,M,32,18.9903,300.00,mm Hg,abnormal,50821
4,100990,228694.0,2121-12-28 21:41:00,99.0,ABG's,SaO2,NaN,EMERGENCY,CONGESTIVE HEART FAILURE;IDIOPATHIC DILATED CA...,NaN,17,M,32,18.9903,16.00,mEq/L,NaN,50868
5,100990,228694.0,2121-12-28 21:41:00,99.0,ABG's,SaO2,NaN,EMERGENCY,CONGESTIVE HEART FAILURE;IDIOPATHIC DILATED CA...,NaN,17,M,32,18.9903,2.80,NaN,abnormal,51237
6,100990,228694.0,2121-12-28 04:51:00,99.0,ABG's,SaO2,NaN,EMERGENCY,CONGESTIVE HEART FAILURE;IDIOPATHIC DILATED CA...,NaN,17,M,32,18.9903,9.80,g/dL,abnormal,51222
7,100990,228694.0,2121-12-28 04:51:00,99.0,ABG's,SaO2,NaN,EMERGENCY,CONGESTIVE HEART FAILURE;IDIOPATHIC DILATED CA...,NaN,17,M,32,18.9903,2.00,mg/dL,abnormal,50912
8,100990,228694.0,2121-12-29 05:05:00,99.0,Labs,Arterial O2 Saturation,%,EMERGENCY,CONGESTIVE HEART FAILURE;IDIOPATHIC DILATED CA...,NaN,17,M,32,18.9903,2.10,mg/dL,abnormal,50912
9,100990,228694.0,2121-12-29 05:05:00,99.0,Labs,Arterial O2 Saturation,%,EMERGENCY,CONGESTIVE HEART FAILURE;IDIOPATHIC DILATED CA...,NaN,17,M,32,18.9903,36.70,NaN,NaN,50825
10,100990,228694.0,2121-12-29 05:05:00,99.0,Labs,Arterial O2 Saturation,%,EMERGENCY,CONGESTIVE HEART FAILURE;IDIOPATHIC DILATED CA...,NaN,17,M,32,18.9903,1.00,mg/dL,NaN,50912
11,100990,228694.0,2121-12-29 05:05:00,99.0,Labs,Arterial O2 Saturation,%,EMERGENCY,CONGESTIVE HEART FAILURE;IDIOPATHIC DILATED CA...,NaN,17,M,32,18.9903,23.00,mEq/L,NaN,50882
12,100990,228694.0,2121-12-29 05:05:00,99.0,Labs,Arterial O2 Saturation,%,EMERGENCY,CONGESTIVE HEART FAILURE;IDIOPATHIC DILATED CA...,NaN,17,M,32,18.9903,7.52,units,abnormal,50820
13,100990,228694.0,2121-12-29 05:05:00,99.0,Labs,Arterial O2 Saturation,%,EMERGENCY,CONGESTIVE HEART FAILURE;IDIOPATHIC DILATED CA...,NaN,17,M,32,18.9903,7.45,units,NaN,50820
14,100990,228694.0,2121-12-29 05:05:00,99.0,Labs,Arterial O2 Saturation,%,EMERGENCY,CONGESTIVE HEART FAILURE;IDIOPATHIC DILATED CA...,NaN,17,M,32,18.9903,81.00,fL,abnormal,51250
15,165037,273757.0,2199-09-20 02:00:00,47.0,Routine Vital Signs,ART BP Diastolic,mmHg,EMERGENCY,CARDIOGENIC SHOCK,NaN,17,F,44,3.9810,6.00,%,NaN,51254
16,165037,273757.0,2199-09-20 02:00:00,47.0,Routine Vital Signs,ART BP Diastolic,mmHg,EMERGENCY,CARDIOGENIC SHOCK,NaN,17,F,44,3.9810,0.60,mg/dL,NaN,50912
17,165037,273757.0,2199-09-20 04:00:00,125.0,Routine Vital Signs,ART BP Systolic,mmHg,EMERGENCY,CARDIOGENIC SHOCK,NaN,17,F,44,3.9810,40.00,%,NaN,50816
18,165037,273757.0,2199-09-20 04:00:00,125.0,Routine Vital Signs,ART BP Systolic,mmHg,EMERGENCY,CARDIOGENIC SHOCK,NaN,17,F,44,3.9810,2.00,mg/dL,abnormal,50970
19,165037,273757.0,2199-09-20 04:00:00,125.0,Routine Vital Signs,ART BP Systolic,mmHg,EMERGENCY,CARDIOGENIC SHOCK,NaN,17,F,44,3.9810,108.00,mEq/L,NaN,50902
20,100990,228694.0,2121-12-29 17:00:00,97.0,NaN,SpO2,NaN,EMERGENCY,CONGESTIVE HEART FAILURE;IDIOPATHIC DILATED CA...,NaN,17,M,32,18.9903,30.00,mEq/L,NaN,50804
21,100990,228694.0,2121-12-29 17:00:00,97.0,NaN,SpO2,NaN,EMERGENCY,CONGESTIVE HEART FAILURE;IDIOPATHIC DILATED CA...,NaN,17,M,32,18.9903,40.00,%,NaN,50816
22,100990,228694.0,2121-12-29 17:00:00,97.0,NaN,SpO2,NaN,EMERGENCY,CONGESTIVE HEART FAILURE;IDIOPATHIC DILATED CA...,NaN,17,M,32,18.9903,12.90,%,abnormal,51244
23,181391,229521.0,2190-10-08 21:00:00,100.0,NaN,SpO2,NaN,EMERGENCY,FEVER,SICU,54,F,33,5.6091,85.00,fL,NaN,51250
24,181391,229521.0,2190-10-08 21:00:00,100.0,NaN,SpO2,NaN,EMERGENCY,FEVER,SICU,54,F,33,5.6091,0.30,mg/dL,NaN,50885
25,181391,229521.0,2190-10-08 21:00:00,100.0,NaN,SpO2,NaN,EMERGENCY,FEVER,SICU,54,F,33,5.6091,100.00,mg/dL,NaN,50931
26,181391,229521.0,2190-10-08 21:00:00,100.0,NaN,SpO2,NaN,EMERGENCY,FEVER,SICU,54,F,33,5.6091,4.40,mEq/L,NaN,50971
27,181391,229521.0,2190-10-08 21:00:00,100.0,NaN,SpO2,NaN,EMERGENCY,FEVER,SICU,54,F,33,5.6091,10.50,g/dL,abnormal,51222
28,182950,221960.0,2190-04-05 14:45:00,100.0,NaN,SpO2,NaN,ELECTIVE,DILATED AORTA ROUTE\BENTALL PROCEDURE; VS AORT...,NaN,55,M,32,1.0236,32.10,pg,abnormal,51248
29,123197,211603.0,2178-05-17 08:00:00,56.0,Routine Vital Signs,Arterial Blood Pressure diastolic,mmHg,EMERGENCY,SEIZURES,SICU,31,F,31,3.5127,0.60,mg/dL,NaN,50912

In [7]:
proj.isnull()

,HadM_ID,icustay_id,charttime,vital_reading,High_Level_Vital_Name,label,UNITNAME,admission_type,diagnosis,submit_careunit,callout_wardid,gender,age,los,valuenum,valueuom,flag,labevents_itemid
0,False,False,False,False,False,False,False,False,False,True,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,True,False,False,True,False,False,False,False,False,False,True,False
2,False,False,False,False,False,False,True,False,False,True,False,False,False,False,False,False,True,False
3,False,False,False,False,False,False,True,False,False,True,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,True,False,False,True,False,False,False,False,False,False,True,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
28999995,False,False,False,False,True,False,True,False,False,True,False,False,False,False,False,False,False,False
28999996,False,False,False,False,False,False,False,False,False,True,False,False,False,False,False,False,True,False
28999997,False,False,False,False,False,False,False,False,False,True,False,False,False,False,False,False,True,False
28999998,False,False,False,False,False,False,False,False,False,True,False,False,False,False,False,False,True,False
28999999,False,False,False,False,False,False,False,False,False,True,False,False,False,False,False,False,False,False

In [8]:
proj.isnull().sum()

HadM_ID                         0
icustay_id                  10712
charttime                       0
vital_reading               37738
High_Level_Vital_Name    10205251
label                           0
UNITNAME                 12614299
admission_type                  0
diagnosis                       0
submit_careunit          22087122
callout_wardid                  0
gender                          0
age                             0
los                             0
valuenum                  2048710
valueuom                  2520962
flag                     17060616
labevents_itemid                0
dtype: int64

In [9]:
missing_data = proj.isnull()

In [10]:
missing_data.head()

,HadM_ID,icustay_id,charttime,vital_reading,High_Level_Vital_Name,label,UNITNAME,admission_type,diagnosis,submit_careunit,callout_wardid,gender,age,los,valuenum,valueuom,flag,labevents_itemid
0,False,False,False,False,False,False,False,False,False,True,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,True,False,False,True,False,False,False,False,False,False,True,False
2,False,False,False,False,False,False,True,False,False,True,False,False,False,False,False,False,True,False
3,False,False,False,False,False,False,True,False,False,True,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,True,False,False,True,False,False,False,False,False,False,True,False

In [11]:
# Count missing values
for column in missing_data.columns.values.tolist():
    print(column)
    print (missing_data[column].value_counts())
    print("")

HadM_ID
False    29000000
Name: HadM_ID, dtype: int64

icustay_id
False    28989288
True        10712
Name: icustay_id, dtype: int64

charttime
False    29000000
Name: charttime, dtype: int64

vital_reading
False    28962262
True        37738
Name: vital_reading, dtype: int64

High_Level_Vital_Name
False    18794749
True     10205251
Name: High_Level_Vital_Name, dtype: int64

label
False    29000000
Name: label, dtype: int64

UNITNAME
False    16385701
True     12614299
Name: UNITNAME, dtype: int64

admission_type
False    29000000
Name: admission_type, dtype: int64

diagnosis
False    29000000
Name: diagnosis, dtype: int64

submit_careunit
True     22087122
False     6912878
Name: submit_careunit, dtype: int64

callout_wardid
False    29000000
Name: callout_wardid, dtype: int64

gender
False    29000000
Name: gender, dtype: int64

age
False    29000000
Name: age, dtype: int64

los
False    29000000
Name: los, dtype: int64

valuenum
False    26951290
True      2048710
Name: valuenum, dtype: int64

valueuom
False    26479038
True      2520962
Name: valueuom, dtype: int64

flag
True     17060616
False    11939384
Name: flag, dtype: int64

labevents_itemid
False    29000000
Name: labevents_itemid, dtype: int64

In [12]:
proj.loc[proj['label'] == 'Heart Rate', 'UNITNAME'] = 'BPM'

In [13]:
proj.loc[(proj['label'] =='Arterial BP [Systolic]') | (proj['label'] =='Manual BP [Systolic]') | (proj['label'] == 'Arterial BP #2 [Systolic]') | (proj['label'] == 'Manual Blood Pressure Systolic Left') | (proj['label'] =='Manual Blood Pressure Systolic Right') | (proj['label'] == 'Manual Blood Pressure Diastolic Right') | (proj['label'] == 'Manual Blood Pressure Diastolic Left') | (proj['label'] == 'Arterial Blood Pressure systolic') | (proj['label'] == 'Arterial Blood Pressure diastolic') | (proj['label'] == 'ART BP Systolic') | (proj['label'] == 'ART BP Diastolic') | (proj['label'] == 'ABP [Diastolic]') | (proj['label'] == 'Arterial BP [Diastolic]') | (proj['label'] == 'Manual BP [Diastolic]') | (proj['label'] == 'Arterial BP #2 [Diastolic]'), 'UNITNAME'] = 'mmHg'

In [14]:
proj.loc[(proj['label'] == 'Temperature Celsius') | 
(proj['label'] == 'Temperature Fahrenheit') | 
(proj['label'] == 'Temperature F') | 
(proj['label'] == 'Temperature C') | 
(proj['label'] == 'Temperature C (calc)') | 
(proj['label'] == 'Temperature F (calc)'), 'UNITNAME'] = 'C'

In [15]:
proj.loc[(proj['label'] == 'Spont RR') | (proj['label'] == 'PULSE'), 'UNITNAME'] = 'BPM'

In [16]:
proj.loc[(proj['label'] == 'Spont RR'), 'UNITNAME'] = 'mmHg'

In [17]:
proj.loc[(proj['label'] == 'Resp Rate (Total)') | (proj['label'] == 'Respiratory Rate') | (proj['label'] == 'Respiratory Rate (Total)'), 'UNITNAME'] = 'insp/min'

In [18]:
proj2 = proj[proj['UNITNAME'].notna()].copy()

In [19]:
proj.isnull().sum()

HadM_ID                         0
icustay_id                  10712
charttime                       0
vital_reading               37738
High_Level_Vital_Name    10205251
label                           0
UNITNAME                  9643410
admission_type                  0
diagnosis                       0
submit_careunit          22087122
callout_wardid                  0
gender                          0
age                             0
los                             0
valuenum                  2048710
valueuom                  2520962
flag                     17060616
labevents_itemid                0
dtype: int64

In [20]:
proj2.isnull().sum()

HadM_ID                         0
icustay_id                   4145
charttime                       0
vital_reading               25853
High_Level_Vital_Name     2970889
label                           0
UNITNAME                        0
admission_type                  0
diagnosis                       0
submit_careunit          14855563
callout_wardid                  0
gender                          0
age                             0
los                             0
valuenum                  1081563
valueuom                  1443660
flag                     11229208
labevents_itemid                0
dtype: int64

In [21]:
proj.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 29000000 entries, 0 to 28999999
Data columns (total 18 columns):
 #   Column                 Dtype
---  ------                 -----
 0   HadM_ID                int64
 1   icustay_id             float64
 2   charttime              object
 3   vital_reading          float64
 4   High_Level_Vital_Name  object
 5   label                  object
 6   UNITNAME               object
 7   admission_type         object
 8   diagnosis              object
 9   submit_careunit        object
 10  callout_wardid         int64
 11  gender                 object
 12  age                    int64
 13  los                    float64
 14  valuenum               float64
 15  valueuom               object
 16  flag                   object
 17  labevents_itemid       int64
dtypes: float64(4), int64(4), object(10)
memory usage: 3.9+ GB

In [22]:
proj.describe()

,HadM_ID,icustay_id,vital_reading,callout_wardid,age,los,valuenum,labevents_itemid
count,2.900000e+07,2.898929e+07,2.896226e+07,2.900000e+07,2.900000e+07,2.900000e+07,2.695129e+07,2.900000e+07
mean,1.493458e+05,2.505935e+05,8.049013e+01,1.959779e+01,6.722720e+01,1.349903e+01,8.085781e+01,5.102645e+04
std,2.829083e+04,2.770374e+04,3.192319e+01,2.158871e+01,3.298648e+01,1.377649e+01,5.202862e+03,2.049845e+02
min,1.000120e+05,2.000250e+05,0.000000e+00,1.000000e+00,1.600000e+01,1.500000e-03,-3.600000e+01,5.080000e+04
25%,1.248340e+05,2.256630e+05,5.300000e+01,1.000000e+00,5.500000e+01,3.555800e+00,4.400000e+00,5.082400e+04
50%,1.496720e+05,2.526010e+05,9.500000e+01,4.000000e+00,6.600000e+01,9.220100e+00,2.000000e+01,5.096000e+04
75%,1.727890e+05,2.728370e+05,9.900000e+01,4.000000e+01,7.500000e+01,1.855520e+01,6.500000e+01,5.124800e+04
max,1.999790e+05,2.999940e+05,3.060000e+02,5.500000e+01,3.080000e+02,8.404090e+01,2.530000e+06,5.152900e+04

In [23]:
proj2.describe()

,HadM_ID,icustay_id,vital_reading,callout_wardid,age,los,valuenum,labevents_itemid
count,1.935659e+07,1.935244e+07,1.933074e+07,1.935659e+07,1.935659e+07,1.935659e+07,1.827503e+07,1.935659e+07
mean,1.501457e+05,2.498978e+05,7.217760e+01,1.864539e+01,6.596696e+01,1.332521e+01,8.175797e+01,5.102521e+04
std,2.847525e+04,2.808705e+04,3.625131e+01,2.093691e+01,2.920722e+01,1.384712e+01,5.011427e+03,2.031157e+02
min,1.000120e+05,2.000530e+05,0.000000e+00,1.000000e+00,1.700000e+01,1.500000e-03,-3.400000e+01,5.080000e+04
25%,1.251020e+05,2.245150e+05,3.790000e+01,1.000000e+00,5.400000e+01,3.280500e+00,4.300000e+00,5.082500e+04
50%,1.514240e+05,2.517200e+05,6.600000e+01,4.000000e+00,6.500000e+01,9.321400e+00,2.000000e+01,5.096000e+04
75%,1.739800e+05,2.729390e+05,9.800000e+01,3.900000e+01,7.400000e+01,1.824400e+01,6.600000e+01,5.124800e+04
max,1.999790e+05,2.999570e+05,3.060000e+02,5.500000e+01,3.080000e+02,7.910900e+01,2.530000e+06,5.152900e+04

In [24]:
proj.describe().transpose()

,count,mean,std,min,25%,50%,75%,max
HadM_ID,29000000.0,149345.830340,28290.830903,100012.0000,124834.0000,149672.0000,172789.0000,1.999790e+05
icustay_id,28989288.0,250593.503483,27703.743874,200025.0000,225663.0000,252601.0000,272837.0000,2.999940e+05
vital_reading,28962262.0,80.490133,31.923192,0.0000,53.0000,95.0000,99.0000,3.060000e+02
callout_wardid,29000000.0,19.597789,21.588711,1.0000,1.0000,4.0000,40.0000,5.500000e+01
age,29000000.0,67.227204,32.986477,16.0000,55.0000,66.0000,75.0000,3.080000e+02
los,29000000.0,13.499034,13.776487,0.0015,3.5558,9.2201,18.5552,8.404090e+01
valuenum,26951290.0,80.857809,5202.862268,-36.0000,4.4000,20.0000,65.0000,2.530000e+06
labevents_itemid,29000000.0,51026.447689,204.984539,50800.0000,50824.0000,50960.0000,51248.0000,5.152900e+04

In [25]:
proj2.describe().transpose()

,count,mean,std,min,25%,50%,75%,max
HadM_ID,19356590.0,150145.728209,28475.248245,100012.0000,125102.0000,151424.0000,173980.000,199979.000
icustay_id,19352445.0,249897.786058,28087.050999,200053.0000,224515.0000,251720.0000,272939.000,299957.000
vital_reading,19330737.0,72.177599,36.251309,0.0000,37.9000,66.0000,98.000,306.000
callout_wardid,19356590.0,18.645387,20.936907,1.0000,1.0000,4.0000,39.000,55.000
age,19356590.0,65.966959,29.207220,17.0000,54.0000,65.0000,74.000,308.000
los,19356590.0,13.325205,13.847116,0.0015,3.2805,9.3214,18.244,79.109
valuenum,18275027.0,81.757974,5011.426660,-34.0000,4.3000,20.0000,66.000,2530000.000
labevents_itemid,19356590.0,51025.211521,203.115725,50800.0000,50825.0000,50960.0000,51248.000,51529.000

In [26]:
proj2.head(20)

,HadM_ID,icustay_id,charttime,vital_reading,High_Level_Vital_Name,label,UNITNAME,admission_type,diagnosis,submit_careunit,callout_wardid,gender,age,los,valuenum,valueuom,flag,labevents_itemid
0,119256,214210.0,2177-11-13 04:35:00,37.0,Respiratory,Spont RR,mmHg,EMERGENCY,SEPSIS,NaN,1,F,27,7.4916,7.50,mg/dL,abnormal,50893
8,100990,228694.0,2121-12-29 05:05:00,99.0,Labs,Arterial O2 Saturation,%,EMERGENCY,CONGESTIVE HEART FAILURE;IDIOPATHIC DILATED CA...,NaN,17,M,32,18.9903,2.10,mg/dL,abnormal,50912
9,100990,228694.0,2121-12-29 05:05:00,99.0,Labs,Arterial O2 Saturation,%,EMERGENCY,CONGESTIVE HEART FAILURE;IDIOPATHIC DILATED CA...,NaN,17,M,32,18.9903,36.70,NaN,NaN,50825
10,100990,228694.0,2121-12-29 05:05:00,99.0,Labs,Arterial O2 Saturation,%,EMERGENCY,CONGESTIVE HEART FAILURE;IDIOPATHIC DILATED CA...,NaN,17,M,32,18.9903,1.00,mg/dL,NaN,50912
11,100990,228694.0,2121-12-29 05:05:00,99.0,Labs,Arterial O2 Saturation,%,EMERGENCY,CONGESTIVE HEART FAILURE;IDIOPATHIC DILATED CA...,NaN,17,M,32,18.9903,23.00,mEq/L,NaN,50882
12,100990,228694.0,2121-12-29 05:05:00,99.0,Labs,Arterial O2 Saturation,%,EMERGENCY,CONGESTIVE HEART FAILURE;IDIOPATHIC DILATED CA...,NaN,17,M,32,18.9903,7.52,units,abnormal,50820
13,100990,228694.0,2121-12-29 05:05:00,99.0,Labs,Arterial O2 Saturation,%,EMERGENCY,CONGESTIVE HEART FAILURE;IDIOPATHIC DILATED CA...,NaN,17,M,32,18.9903,7.45,units,NaN,50820
14,100990,228694.0,2121-12-29 05:05:00,99.0,Labs,Arterial O2 Saturation,%,EMERGENCY,CONGESTIVE HEART FAILURE;IDIOPATHIC DILATED CA...,NaN,17,M,32,18.9903,81.00,fL,abnormal,51250
15,165037,273757.0,2199-09-20 02:00:00,47.0,Routine Vital Signs,ART BP Diastolic,mmHg,EMERGENCY,CARDIOGENIC SHOCK,NaN,17,F,44,3.9810,6.00,%,NaN,51254
16,165037,273757.0,2199-09-20 02:00:00,47.0,Routine Vital Signs,ART BP Diastolic,mmHg,EMERGENCY,CARDIOGENIC SHOCK,NaN,17,F,44,3.9810,0.60,mg/dL,NaN,50912
17,165037,273757.0,2199-09-20 04:00:00,125.0,Routine Vital Signs,ART BP Systolic,mmHg,EMERGENCY,CARDIOGENIC SHOCK,NaN,17,F,44,3.9810,40.00,%,NaN,50816
18,165037,273757.0,2199-09-20 04:00:00,125.0,Routine Vital Signs,ART BP Systolic,mmHg,EMERGENCY,CARDIOGENIC SHOCK,NaN,17,F,44,3.9810,2.00,mg/dL,abnormal,50970
19,165037,273757.0,2199-09-20 04:00:00,125.0,Routine Vital Signs,ART BP Systolic,mmHg,EMERGENCY,CARDIOGENIC SHOCK,NaN,17,F,44,3.9810,108.00,mEq/L,NaN,50902
29,123197,211603.0,2178-05-17 08:00:00,56.0,Routine Vital Signs,Arterial Blood Pressure diastolic,mmHg,EMERGENCY,SEIZURES,SICU,31,F,31,3.5127,0.60,mg/dL,NaN,50912
30,123197,211603.0,2178-05-17 08:00:00,56.0,Routine Vital Signs,Arterial Blood Pressure diastolic,mmHg,EMERGENCY,SEIZURES,SICU,31,F,31,3.5127,85.00,mg/dL,NaN,50931
31,123197,211603.0,2178-05-17 08:00:00,56.0,Routine Vital Signs,Arterial Blood Pressure diastolic,mmHg,EMERGENCY,SEIZURES,SICU,31,F,31,3.5127,36.00,mm Hg,NaN,50818
32,123197,211603.0,2178-05-20 00:00:00,23.0,Respiratory,Respiratory Rate,insp/min,EMERGENCY,SEIZURES,SICU,31,F,31,3.5127,1.90,%,abnormal,51254
33,123197,211603.0,2178-05-20 00:00:00,23.0,Respiratory,Respiratory Rate,insp/min,EMERGENCY,SEIZURES,SICU,31,F,31,3.5127,587.00,mm Hg,NaN,50801
34,123197,211603.0,2178-05-20 00:00:00,23.0,Respiratory,Respiratory Rate,insp/min,EMERGENCY,SEIZURES,SICU,31,F,31,3.5127,135.00,mEq/L,NaN,50983
35,123197,211603.0,2178-05-18 15:00:00,29.0,Respiratory,Respiratory Rate,insp/min,EMERGENCY,SEIZURES,SICU,31,F,31,3.5127,4.00,#/hpf,abnormal,51493

In [27]:
proj2.loc[(proj2['label'] == 'Spont RR'), 'UNITNAME'] = 'mmHg'

In [28]:
proj2.loc[proj2['label'] == 'Arterial O2 Saturation', 'label'] = 'Oxygen Saturation'

In [29]:
proj2.loc[(proj['label'] =='Arterial BP [Systolic]') |
(proj2['label'] =='Manual BP [Systolic]') | 
(proj2['label'] == 'Arterial BP #2 [Systolic]') | 
(proj2['label'] == 'Manual Blood Pressure Systolic Left') | 
(proj2['label'] =='Manual Blood Pressure Systolic Right') | 
(proj2['label'] == 'ART BP Systolic') |
(proj2['label'] == 'Arterial Blood Pressure systolic'), 'label'] = 'Systolic BP'

In [30]:
proj2.loc[(proj2['label'] == 'Arterial Blood Pressure diastolic') | 
(proj2['label'] == 'ART BP Diastolic') | 
(proj2['label'] == 'ABP [Diastolic]') | 
(proj2['label'] == 'Arterial BP [Diastolic]') | 
(proj2['label'] == 'Manual BP [Diastolic]') | 
(proj2['label'] == 'Arterial BP #2 [Diastolic]') | 
(proj2['label'] == 'Manual Blood Pressure Diastolic Right') | 
(proj2['label'] == 'Manual Blood Pressure Diastolic Left'), 'label'] = 'Diastolic BP'

In [31]:
proj2.loc[(proj2['label'] == 'Temperature Celsius') | 
(proj2['label'] == 'Temperature Fahrenheit') | 
(proj2['label'] == 'Temperature F') | 
(proj2['label'] == 'Temperature C') | 
(proj2['label'] == 'Temperature C (calc)') | 
(proj2['label'] == 'Temperature F (calc)'), 'label'] = 'Temperature C'

In [32]:
proj2.loc[(proj2['label'] == 'PULSE'), 'label'] = 'Heart Rate'

In [33]:
proj2.loc[(proj2['label'] == 'Resp Rate (Total)') | 
(proj2['label'] == 'Respiratory Rate') | 
(proj2['label'] == 'Breath Rate') | 
(proj2['label'] == 'Respiratory Rate (Total)'), 'label'] = 'Respiratory Rate'

In [34]:
proj2.loc[(proj2['label'] == 'Oxygen Saturation') | 
(proj2['label'] == 'SpO2') | 
(proj2['label'] == 'SaO2') |
(proj2['label'] == 'O2 saturation pulseoxymetry') |  
(proj2['label'] == 'Arterial O2 Saturation'), 'label'] = 'Oxygen Saturation'

In [35]:
print(proj2['label'].unique())

['Spont RR' 'Oxygen Saturation' 'Diastolic BP' 'Systolic BP'
 'Respiratory Rate' 'Heart Rate' 'Temperature C']

In [36]:
proj2.loc[(proj2['UNITNAME'] == '?C'), 'UNITNAME'] = 'C'

In [37]:
proj2.loc[(proj2['UNITNAME'] == 'bpm'), 'UNITNAME'] = 'BPM'

In [38]:
print(proj2['UNITNAME'].unique())

['mmHg' '%' 'insp/min' 'BPM' 'C']

In [39]:
proj2 = proj2.drop(proj2[proj2.age > 100].index)

In [40]:
proj2.rename(columns = {'HadM_ID':'HADM_ID'}, inplace = True)

In [45]:
proj2.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 19134028 entries, 0 to 28999999
Data columns (total 18 columns):
 #   Column                 Dtype
---  ------                 -----
 0   HADM_ID                int64
 1   icustay_id             float64
 2   charttime              object
 3   vital_reading          float64
 4   High_Level_Vital_Name  object
 5   label                  object
 6   UNITNAME               object
 7   admission_type         object
 8   diagnosis              object
 9   submit_careunit        object
 10  callout_wardid         int64
 11  gender                 object
 12  age                    int64
 13  los                    float64
 14  valuenum               float64
 15  valueuom               object
 16  flag                   object
 17  labevents_itemid       int64
dtypes: float64(4), int64(4), object(10)
memory usage: 2.7+ GB

In [42]:
proj2.isnull().sum()

HADM_ID                         0
icustay_id                   4145
charttime                       0
vital_reading               25202
High_Level_Vital_Name     2945382
label                           0
UNITNAME                        0
admission_type                  0
diagnosis                       0
submit_careunit          14698954
callout_wardid                  0
gender                          0
age                             0
los                             0
valuenum                  1072201
valueuom                  1429807
flag                     11097881
labevents_itemid                0
dtype: int64

In [46]:
proj2['age'] = proj2['age'].astype(float)

In [47]:
#def xyz(proj2) :
    
#    if (proj2["vital_reading"] >= 120) & (proj2["vital_reading"]<= 129):
#        return "1"
#    elif (proj2["vital_reading"] >= 130) & (proj2["vital_reading"]<= 139):
#        return "2"
#    elif (proj2["vital_reading"] >= 140) & (proj2["vital_reading"]<= 179):
#        return "3"
#    elif (proj2["vital_reading"] >= 180):
#        return "4"
#    elif (proj2["age"] >= 18) & (proj2["age"]<= 39) & (proj2["vital_reading"]>=105) & (proj2["vital_reading"]<=135):
#        return "0"
#    elif (proj2["age"] >= 40) & (proj2["age"]<= 59) & (proj2["vital_reading"]>=112) & (proj2["vital_reading"]<=144):
#        return "0"
#    elif (proj2["age"] >= 60) | (proj2["vital_reading"]>=121) & (proj2["vital_reading"]<=147):
#        return "0"
    



#proj2["systolic_range"] = proj2.apply(lambda proj2:xyz(proj2),
#                                      axis = 1)

In [51]:
proj2.to_csv('udemey_clean_df.csv')

In [48]:
proj2.head()

,HADM_ID,icustay_id,charttime,vital_reading,High_Level_Vital_Name,label,UNITNAME,admission_type,diagnosis,submit_careunit,callout_wardid,gender,age,los,valuenum,valueuom,flag,labevents_itemid,systolic_range
0,119256,214210.0,2177-11-13 04:35:00,37.0,Respiratory,Spont RR,mmHg,EMERGENCY,SEPSIS,NaN,1,F,27.0,7.4916,7.5,mg/dL,abnormal,50893,None
8,100990,228694.0,2121-12-29 05:05:00,99.0,Labs,Oxygen Saturation,%,EMERGENCY,CONGESTIVE HEART FAILURE;IDIOPATHIC DILATED CA...,NaN,17,M,32.0,18.9903,2.1,mg/dL,abnormal,50912,None
9,100990,228694.0,2121-12-29 05:05:00,99.0,Labs,Oxygen Saturation,%,EMERGENCY,CONGESTIVE HEART FAILURE;IDIOPATHIC DILATED CA...,NaN,17,M,32.0,18.9903,36.7,NaN,NaN,50825,None
10,100990,228694.0,2121-12-29 05:05:00,99.0,Labs,Oxygen Saturation,%,EMERGENCY,CONGESTIVE HEART FAILURE;IDIOPATHIC DILATED CA...,NaN,17,M,32.0,18.9903,1.0,mg/dL,NaN,50912,None
11,100990,228694.0,2121-12-29 05:05:00,99.0,Labs,Oxygen Saturation,%,EMERGENCY,CONGESTIVE HEART FAILURE;IDIOPATHIC DILATED CA...,NaN,17,M,32.0,18.9903,23.0,mEq/L,NaN,50882,None

In [50]:
print(proj2['systolic_range'].unique())

[None '1' '3' '0' '2' '4']

In [ ]:
proj2 = pd.read_csv('udemey_clean_df.csv')

In [27]:
proj2.head()

,Unnamed: 0,HADM_ID,icustay_id,charttime,vital_reading,High_Level_Vital_Name,label,UNITNAME,admission_type,diagnosis,submit_careunit,callout_wardid,gender,age,los,valuenum,valueuom,flag,labevents_itemid,systolic_range
0,0,119256,214210.0,2177-11-13 04:35:00,37.0,Respiratory,Spont RR,mmHg,EMERGENCY,SEPSIS,NaN,1,F,27.0,7.4916,7.5,mg/dL,abnormal,50893,NaN
1,8,100990,228694.0,2121-12-29 05:05:00,99.0,Labs,Oxygen Saturation,%,EMERGENCY,CONGESTIVE HEART FAILURE;IDIOPATHIC DILATED CA...,NaN,17,M,32.0,18.9903,2.1,mg/dL,abnormal,50912,NaN
2,9,100990,228694.0,2121-12-29 05:05:00,99.0,Labs,Oxygen Saturation,%,EMERGENCY,CONGESTIVE HEART FAILURE;IDIOPATHIC DILATED CA...,NaN,17,M,32.0,18.9903,36.7,NaN,NaN,50825,NaN
3,10,100990,228694.0,2121-12-29 05:05:00,99.0,Labs,Oxygen Saturation,%,EMERGENCY,CONGESTIVE HEART FAILURE;IDIOPATHIC DILATED CA...,NaN,17,M,32.0,18.9903,1.0,mg/dL,NaN,50912,NaN
4,11,100990,228694.0,2121-12-29 05:05:00,99.0,Labs,Oxygen Saturation,%,EMERGENCY,CONGESTIVE HEART FAILURE;IDIOPATHIC DILATED CA...,NaN,17,M,32.0,18.9903,23.0,mEq/L,NaN,50882,NaN

In [28]:
#proj2.drop(['systolic_range'],axis = 1, inplace = True)

In [40]:
proj2.head()

,Unnamed: 0,HADM_ID,icustay_id,charttime,vital_reading,High_Level_Vital_Name,label,UNITNAME,admission_type,diagnosis,...,valuenum,valueuom,flag,labevents_itemid,Respiratory_Rate,Oxygen_Saturation,Diastolic_BP,Systolic_BP,Heart_Rate,Temperature_C
0,0,119256,214210.0,2177-11-13 04:35:00,37.0,Respiratory,Respiratory Rate,mmHg,EMERGENCY,SEPSIS,...,7.5,mg/dL,abnormal,50893,37.0,0,0,0,0,0
1,8,100990,228694.0,2121-12-29 05:05:00,99.0,Labs,Oxygen Saturation,%,EMERGENCY,CONGESTIVE HEART FAILURE;IDIOPATHIC DILATED CA...,...,2.1,mg/dL,abnormal,50912,0,99.0,0,0,0,0
2,9,100990,228694.0,2121-12-29 05:05:00,99.0,Labs,Oxygen Saturation,%,EMERGENCY,CONGESTIVE HEART FAILURE;IDIOPATHIC DILATED CA...,...,36.7,NaN,NaN,50825,0,99.0,0,0,0,0
3,10,100990,228694.0,2121-12-29 05:05:00,99.0,Labs,Oxygen Saturation,%,EMERGENCY,CONGESTIVE HEART FAILURE;IDIOPATHIC DILATED CA...,...,1.0,mg/dL,NaN,50912,0,99.0,0,0,0,0
4,11,100990,228694.0,2121-12-29 05:05:00,99.0,Labs,Oxygen Saturation,%,EMERGENCY,CONGESTIVE HEART FAILURE;IDIOPATHIC DILATED CA...,...,23.0,mEq/L,NaN,50882,0,99.0,0,0,0,0

In [42]:
print(proj2['label'].unique())

['Respiratory Rate' 'Oxygen Saturation' 'Diastolic BP' 'Systolic BP'
 'Heart Rate' 'Temperature C']

In [31]:
proj2.loc[(proj2['label'] == 'Spont RR'), 'label'] = 'Respiratory Rate'

In [33]:
def xyz(proj2):
    if (proj2["label"] == 'Respiratory Rate'):
        return proj2["vital_reading"]
    else :
        return "0"



proj2['Respiratory_Rate'] = proj2.apply(lambda proj2:xyz(proj2), axis=1)

In [35]:
def xyz(proj2):
    if (proj2["label"] == 'Oxygen Saturation'):
        return proj2["vital_reading"]
    else :
        return "0"



proj2['Oxygen_Saturation'] = proj2.apply(lambda proj2:xyz(proj2), axis=1)

In [36]:
def xyz(proj2):
    if (proj2["label"] == 'Diastolic BP'):
        return proj2["vital_reading"]
    else :
        return "0"



proj2['Diastolic_BP'] = proj2.apply(lambda proj2:xyz(proj2), axis=1)

In [37]:
def xyz(proj2):
    if (proj2["label"] == 'Systolic BP'):
        return proj2["vital_reading"]
    else :
        return "0"



proj2['Systolic_BP'] = proj2.apply(lambda proj2:xyz(proj2), axis=1)

In [38]:
def xyz(proj2):
    if (proj2["label"] == 'Heart Rate'):
        return proj2["vital_reading"]
    else :
        return "0"



proj2['Heart_Rate'] = proj2.apply(lambda proj2:xyz(proj2), axis=1)

In [39]:
def xyz(proj2):
    if (proj2["label"] == 'Temperature C'):
        return proj2["vital_reading"]
    else :
        return "0"



proj2['Temperature_C'] = proj2.apply(lambda proj2:xyz(proj2), axis=1)

In [4]:
proj2= pd.read_csv('healthcare_clean_df.csv')

In [5]:
len(proj2)

19134028

In [6]:
proj2.head()

,Unnamed: 0,Unnamed: 0.1,HADM_ID,icustay_id,charttime,vital_reading,High_Level_Vital_Name,label,UNITNAME,admission_type,...,valuenum,valueuom,flag,labevents_itemid,Respiratory_Rate,Oxygen_Saturation,Diastolic_BP,Systolic_BP,Heart_Rate,Temperature_C
0,0,0,119256,214210.0,2177-11-13 04:35:00,37.0,Respiratory,Respiratory Rate,mmHg,EMERGENCY,...,7.5,mg/dL,abnormal,50893,37.0,0.0,0.0,0.0,0.0,0.0
1,1,8,100990,228694.0,2121-12-29 05:05:00,99.0,Labs,Oxygen Saturation,%,EMERGENCY,...,2.1,mg/dL,abnormal,50912,0.0,99.0,0.0,0.0,0.0,0.0
2,2,9,100990,228694.0,2121-12-29 05:05:00,99.0,Labs,Oxygen Saturation,%,EMERGENCY,...,36.7,NaN,NaN,50825,0.0,99.0,0.0,0.0,0.0,0.0
3,3,10,100990,228694.0,2121-12-29 05:05:00,99.0,Labs,Oxygen Saturation,%,EMERGENCY,...,1.0,mg/dL,NaN,50912,0.0,99.0,0.0,0.0,0.0,0.0
4,4,11,100990,228694.0,2121-12-29 05:05:00,99.0,Labs,Oxygen Saturation,%,EMERGENCY,...,23.0,mEq/L,NaN,50882,0.0,99.0,0.0,0.0,0.0,0.0

In [8]:
proj2.drop(['Unnamed: 0.1','Unnamed: 0'],axis = 1)

,HADM_ID,icustay_id,charttime,vital_reading,High_Level_Vital_Name,label,UNITNAME,admission_type,diagnosis,submit_careunit,...,valuenum,valueuom,flag,labevents_itemid,Respiratory_Rate,Oxygen_Saturation,Diastolic_BP,Systolic_BP,Heart_Rate,Temperature_C
0,119256,214210.0,2177-11-13 04:35:00,37.0,Respiratory,Respiratory Rate,mmHg,EMERGENCY,SEPSIS,NaN,...,7.5,mg/dL,abnormal,50893,37.0,0.0,0.0,0.0,0.0,0.0
1,100990,228694.0,2121-12-29 05:05:00,99.0,Labs,Oxygen Saturation,%,EMERGENCY,CONGESTIVE HEART FAILURE;IDIOPATHIC DILATED CA...,NaN,...,2.1,mg/dL,abnormal,50912,0.0,99.0,0.0,0.0,0.0,0.0
2,100990,228694.0,2121-12-29 05:05:00,99.0,Labs,Oxygen Saturation,%,EMERGENCY,CONGESTIVE HEART FAILURE;IDIOPATHIC DILATED CA...,NaN,...,36.7,NaN,NaN,50825,0.0,99.0,0.0,0.0,0.0,0.0
3,100990,228694.0,2121-12-29 05:05:00,99.0,Labs,Oxygen Saturation,%,EMERGENCY,CONGESTIVE HEART FAILURE;IDIOPATHIC DILATED CA...,NaN,...,1.0,mg/dL,NaN,50912,0.0,99.0,0.0,0.0,0.0,0.0
4,100990,228694.0,2121-12-29 05:05:00,99.0,Labs,Oxygen Saturation,%,EMERGENCY,CONGESTIVE HEART FAILURE;IDIOPATHIC DILATED CA...,NaN,...,23.0,mEq/L,NaN,50882,0.0,99.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19134023,117866,205857.0,2186-05-18 02:15:00,91.0,NaN,Diastolic BP,mmHg,EMERGENCY,C SPINE FRACTURE,NaN,...,4.0,mg/dL,NaN,50970,0.0,0.0,91.0,0.0,0.0,0.0
19134024,144844,272539.0,2108-12-31 01:00:00,123.0,Routine Vital Signs,Systolic BP,mmHg,EMERGENCY,DISSECTING AAA,NaN,...,83.0,fL,NaN,51250,0.0,0.0,0.0,123.0,0.0,0.0
19134025,189721,214550.0,2122-10-13 16:00:00,37.4,Routine Vital Signs,Temperature C,C,EMERGENCY,CONGESTIVE HEART FAILURE,NaN,...,8.8,K/uL,NaN,51301,0.0,0.0,0.0,0.0,0.0,37.4
19134026,189721,214550.0,2122-10-13 16:00:00,37.4,Routine Vital Signs,Temperature C,C,EMERGENCY,CONGESTIVE HEART FAILURE,NaN,...,234.0,K/uL,NaN,51265,0.0,0.0,0.0,0.0,0.0,37.4
19134027,189721,214550.0,2122-10-13 08:30:00,121.0,Routine Vital Signs,Systolic BP,mmHg,EMERGENCY,CONGESTIVE HEART FAILURE,NaN,...,30.0,mg/dL,abnormal,51006,0.0,0.0,0.0,121.0,0.0,0.0

In [9]:
proj2_rand_samp = proj2.sample(frac=0.50)

In [10]:
#del [[proj2_df1]]

In [11]:
len(proj2_rand_samp)

9567014

In [12]:
def xyz(proj2_rand_samp) :
    
    if (proj2_rand_samp["Systolic_BP"] >= 120) & (proj2_rand_samp["Systolic_BP"]<= 129):
        return "1"
    elif (proj2_rand_samp["Systolic_BP"] >= 130) & (proj2_rand_samp["Systolic_BP"]<= 139):
        return "2"
    elif (proj2_rand_samp["Systolic_BP"] >= 140) & (proj2_rand_samp["Systolic_BP"]<= 179):
        return "3"
    elif (proj2_rand_samp["Systolic_BP"] >= 180):
        return "4"
    elif (proj2_rand_samp["Systolic_BP"] < 105):
        return "3"
    else :
        return "0"
    
proj2_rand_samp["Systolic_BP_range"] = proj2_rand_samp.apply(lambda proj2_rand_samp:xyz(proj2_rand_samp),
                                      axis = 1)

In [13]:
def xyz(proj2_rand_samp) :
    
    if (proj2_rand_samp["Diastolic_BP"] >= 80) & (proj2_rand_samp["Diastolic_BP"]<= 89):
        return "1"
    elif (proj2_rand_samp["Diastolic_BP"] >= 90) & (proj2_rand_samp["Diastolic_BP"]<= 120):
        return "2"
    elif (proj2_rand_samp["Diastolic_BP"] >= 120):
        return "3"
    elif (proj2_rand_samp["Diastolic_BP"] >= 73) & (proj2_rand_samp["Diastolic_BP"]<= 80):
        return "0"
    elif (proj2_rand_samp["Diastolic_BP"] < 73):
        return "3"
    else :
        return "5"
    
proj2_rand_samp["Diastolic_BP_range"] = proj2_rand_samp.apply(lambda proj2_rand_samp:xyz(proj2_rand_samp),
                                      axis = 1)

In [14]:
def xyz(proj2_rand_samp) :
    
    if (proj2_rand_samp["age"] >= 20) & (proj2_rand_samp["age"]<= 29) & (proj2_rand_samp["Heart_Rate"]>=100) & (proj2_rand_samp["Heart_Rate"]<=170):
        return "0"
    elif (proj2_rand_samp["age"] >= 30) & (proj2_rand_samp["age"]<= 39) & (proj2_rand_samp["Heart_Rate"]>=95) & (proj2_rand_samp["Heart_Rate"]<=157):
        return "0"
    elif (proj2_rand_samp["age"] >= 40) & (proj2_rand_samp["age"]<= 49) & (proj2_rand_samp["Heart_Rate"]>=90) & (proj2_rand_samp["Heart_Rate"]<=149):
        return "0"
    elif (proj2_rand_samp["age"] >= 50) & (proj2_rand_samp["age"]<= 59) & (proj2_rand_samp["Heart_Rate"]>=85) & (proj2_rand_samp["Heart_Rate"]<=140):
        return "0"
    elif (proj2_rand_samp["age"] >= 60) & (proj2_rand_samp["age"]<= 70) & (proj2_rand_samp["Heart_Rate"]>=80) & (proj2_rand_samp["Heart_Rate"]<=128):
        return "0"
    else :
        return "4"

proj2_rand_samp["Heart_Rate_range"] = proj2_rand_samp.apply(lambda proj2_rand_samp:xyz(proj2_rand_samp),
                                      axis = 1)

In [15]:
def xyz(proj2_rand_samp) :
    
    if (proj2_rand_samp["age"] >= 18) & (proj2_rand_samp["age"]<= 70) & (proj2_rand_samp["Respiratory_Rate"]>=12) & (proj2_rand_samp["Respiratory_Rate"]<=20):
        return "0"
    elif (proj2_rand_samp["age"] >= 70) & (proj2_rand_samp["Respiratory_Rate"]>=15) & (proj2_rand_samp["Respiratory_Rate"]<=20):
        return "0"
    else :
        return "4"

proj2_rand_samp["Respiratory_Rate_range"] = proj2_rand_samp.apply(lambda proj2_rand_samp:xyz(proj2_rand_samp),
                                      axis = 1)

In [16]:
def xyz(proj2_rand_samp) :
    
    if (proj2_rand_samp["Oxygen_Saturation"] >= 95):
        return "0"
    elif (proj2_rand_samp["Oxygen_Saturation"] >= 90) & (proj2_rand_samp["Oxygen_Saturation"]<= 95):
        return "2"
    else :
        return "4"
    
proj2_rand_samp["Oxygen_Saturation_range"] = proj2_rand_samp.apply(lambda proj2_rand_samp:xyz(proj2_rand_samp),
                                      axis = 1)

In [17]:
def xyz(proj2_rand_samp) :
    
    if (proj2_rand_samp["Temperature_C"] >= 35.1) & (proj2_rand_samp["Temperature_C"]< 38):
        return "0"
    elif (proj2_rand_samp["Temperature_C"] >= 38)  & (proj2_rand_samp["Temperature_C"]< 39.9):
        return "2"
    elif (proj2_rand_samp["Temperature_C"] >= 39.9)  & (proj2_rand_samp["Temperature_C"]< 41):
        return "3"
    elif (proj2_rand_samp["Temperature_C"] >= 41):
        return "4"
    elif (proj2_rand_samp["Temperature_C"] < 35):
        return "2"
    else :
        return "5"
    
proj2_rand_samp["Temperature_C_range"] = proj2_rand_samp.apply(lambda proj2_rand_samp:xyz(proj2_rand_samp),
                                      axis = 1)

In [18]:
import numpy as np

In [19]:
proj2_rand_samp['Temperature_C_range'] = np.where(proj2_rand_samp["Temperature_C"] == 0, 0, proj2_rand_samp['Temperature_C_range'])

In [20]:
proj2_rand_samp['Oxygen_Saturation_range'] = np.where(proj2_rand_samp["Oxygen_Saturation"] == 0, 0, proj2_rand_samp['Oxygen_Saturation_range'])
proj2_rand_samp['Respiratory_Rate_range'] = np.where(proj2_rand_samp["Respiratory_Rate"] == 0, 0, proj2_rand_samp['Respiratory_Rate_range'])
proj2_rand_samp['Heart_Rate_range'] = np.where(proj2_rand_samp["Heart_Rate"] == 0, 0, proj2_rand_samp['Heart_Rate_range'])
proj2_rand_samp['Diastolic_BP_range'] = np.where(proj2_rand_samp["Diastolic_BP"] == 0, 0, proj2_rand_samp['Diastolic_BP_range'])
proj2_rand_samp['Systolic_BP_range'] = np.where(proj2_rand_samp["Systolic_BP"] == 0, 0, proj2_rand_samp['Systolic_BP_range'])

In [21]:
proj2_rand_samp.head()

,Unnamed: 0,Unnamed: 0.1,HADM_ID,icustay_id,charttime,vital_reading,High_Level_Vital_Name,label,UNITNAME,admission_type,...,Diastolic_BP,Systolic_BP,Heart_Rate,Temperature_C,Systolic_BP_range,Diastolic_BP_range,Heart_Rate_range,Respiratory_Rate_range,Oxygen_Saturation_range,Temperature_C_range
18879404,18879404,28608987,135028,277211.0,2159-12-18 08:00:00,56.0,Routine Vital Signs,Diastolic BP,mmHg,EMERGENCY,...,56.0,0.0,0.0,0.0,0,3,0,0,0,0
15200105,15200105,23027272,182495,219986.0,2112-03-05 12:00:00,113.0,NaN,Systolic BP,mmHg,EMERGENCY,...,0.0,113.0,0.0,0.0,0,0,0,0,0,0
14830171,14830171,22478769,117847,211890.0,2143-12-07 05:45:00,19.0,Respiratory,Respiratory Rate,mmHg,EMERGENCY,...,0.0,0.0,0.0,0.0,0,0,0,0,0,0
10164131,10164131,15401489,179787,274339.0,2131-12-14 18:00:00,15.0,Respiratory,Respiratory Rate,insp/min,ELECTIVE,...,0.0,0.0,0.0,0.0,0,0,0,0,0,0
8772198,8772198,13280231,168670,260223.0,2156-08-05 20:58:00,59.0,Routine Vital Signs,Diastolic BP,mmHg,EMERGENCY,...,59.0,0.0,0.0,0.0,0,3,0,0,0,0

In [22]:
proj2_rand_samp.isnull().sum()

Unnamed: 0                       0
Unnamed: 0.1                     0
HADM_ID                          0
icustay_id                    2074
charttime                        0
vital_reading                12555
High_Level_Vital_Name      1471994
label                            0
UNITNAME                         0
admission_type                   0
diagnosis                        0
submit_careunit            7351127
callout_wardid                   0
gender                           0
age                              0
los                              0
valuenum                    536104
valueuom                    714682
flag                       5548589
labevents_itemid                 0
Respiratory_Rate                 0
Oxygen_Saturation                0
Diastolic_BP                     0
Systolic_BP                  11316
Heart_Rate                       0
Temperature_C                 1239
Systolic_BP_range                0
Diastolic_BP_range               0
Heart_Rate_range                 0
Respiratory_Rate_range           0
Oxygen_Saturation_range          0
Temperature_C_range              0
dtype: int64

In [23]:
proj2_rand_samp['Systolic_BP']= proj2_rand_samp['Systolic_BP'].fillna(0)
proj2_rand_samp['Temperature_C']= proj2_rand_samp['Temperature_C'].fillna(0)

In [24]:
proj2_rand_samp['Systolic_BP_range'] = proj2_rand_samp['Systolic_BP_range'].astype(float)
proj2_rand_samp['Diastolic_BP_range'] = proj2_rand_samp['Diastolic_BP_range'].astype(float)
proj2_rand_samp['Heart_Rate_range'] = proj2_rand_samp['Heart_Rate_range'].astype(float)
proj2_rand_samp['Respiratory_Rate_range'] = proj2_rand_samp['Respiratory_Rate_range'].astype(float)
proj2_rand_samp['Oxygen_Saturation_range'] = proj2_rand_samp['Oxygen_Saturation_range'].astype(float)
proj2_rand_samp['Temperature_C_range'] = proj2_rand_samp['Temperature_C_range'].astype(float)

In [25]:
proj2_rand_samp['Criticality_Range'] = proj2_rand_samp.loc[:, 'Systolic_BP_range':'Temperature_C_range'].sum(1)

In [26]:
proj2_rand_samp.head()

,Unnamed: 0,Unnamed: 0.1,HADM_ID,icustay_id,charttime,vital_reading,High_Level_Vital_Name,label,UNITNAME,admission_type,...,Systolic_BP,Heart_Rate,Temperature_C,Systolic_BP_range,Diastolic_BP_range,Heart_Rate_range,Respiratory_Rate_range,Oxygen_Saturation_range,Temperature_C_range,Criticality_Range
18879404,18879404,28608987,135028,277211.0,2159-12-18 08:00:00,56.0,Routine Vital Signs,Diastolic BP,mmHg,EMERGENCY,...,0.0,0.0,0.0,0.0,3.0,0.0,0.0,0.0,0.0,3.0
15200105,15200105,23027272,182495,219986.0,2112-03-05 12:00:00,113.0,NaN,Systolic BP,mmHg,EMERGENCY,...,113.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
14830171,14830171,22478769,117847,211890.0,2143-12-07 05:45:00,19.0,Respiratory,Respiratory Rate,mmHg,EMERGENCY,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
10164131,10164131,15401489,179787,274339.0,2131-12-14 18:00:00,15.0,Respiratory,Respiratory Rate,insp/min,ELECTIVE,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
8772198,8772198,13280231,168670,260223.0,2156-08-05 20:58:00,59.0,Routine Vital Signs,Diastolic BP,mmHg,EMERGENCY,...,0.0,0.0,0.0,0.0,3.0,0.0,0.0,0.0,0.0,3.0

In [27]:
proj2_rand_samp.to_csv('mimic_criticality.csv')

In [3]:
df = pd.read_csv('mimic_criticality.csv')

In [4]:
df.head()

,Unnamed: 0.2,Unnamed: 0,Unnamed: 0.1,HADM_ID,icustay_id,charttime,vital_reading,High_Level_Vital_Name,label,UNITNAME,...,Systolic_BP,Heart_Rate,Temperature_C,Systolic_BP_range,Diastolic_BP_range,Heart_Rate_range,Respiratory_Rate_range,Oxygen_Saturation_range,Temperature_C_range,Criticality_Range
0,18879404,18879404,28608987,135028,277211.0,2159-12-18 08:00:00,56.0,Routine Vital Signs,Diastolic BP,mmHg,...,0.0,0.0,0.0,0.0,3.0,0.0,0.0,0.0,0.0,3.0
1,15200105,15200105,23027272,182495,219986.0,2112-03-05 12:00:00,113.0,NaN,Systolic BP,mmHg,...,113.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,14830171,14830171,22478769,117847,211890.0,2143-12-07 05:45:00,19.0,Respiratory,Respiratory Rate,mmHg,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,10164131,10164131,15401489,179787,274339.0,2131-12-14 18:00:00,15.0,Respiratory,Respiratory Rate,insp/min,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,8772198,8772198,13280231,168670,260223.0,2156-08-05 20:58:00,59.0,Routine Vital Signs,Diastolic BP,mmHg,...,0.0,0.0,0.0,0.0,3.0,0.0,0.0,0.0,0.0,3.0

In [31]:
df.drop(['Unnamed: 0.1','Unnamed: 0', 'Unnamed: 0.1.1' ],axis = 1)

,HADM_ID,icustay_id,charttime,vital_reading,High_Level_Vital_Name,label,UNITNAME,admission_type,diagnosis,submit_careunit,...,Systolic_BP,Heart_Rate,Temperature_C,Systolic_BP_range,Diastolic_BP_range,Heart_Rate_range,Respiratory_Rate_range,Oxygen_Saturation_range,Temperature_C_range,Criticality_Range
0,135028,277211.0,2159-12-18 08:00:00,56.0,Routine Vital Signs,Diastolic BP,mmHg,EMERGENCY,ETOH CIRRHOSIS,NaN,...,0.0,0.0,0.0,0.0,3.0,0.0,0.0,0.0,0.0,3.0
1,182495,219986.0,2112-03-05 12:00:00,113.0,NaN,Systolic BP,mmHg,EMERGENCY,AIRWAY OBSTRUCTION,NaN,...,113.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,117847,211890.0,2143-12-07 05:45:00,19.0,Respiratory,Respiratory Rate,mmHg,EMERGENCY,LIVER FAILURE AND SIRS,NaN,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,179787,274339.0,2131-12-14 18:00:00,15.0,Respiratory,Respiratory Rate,insp/min,ELECTIVE,MITRAL STENOSIS \MITRAL VALVE REPAIR VERSUS PL...,NaN,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,168670,260223.0,2156-08-05 20:58:00,59.0,Routine Vital Signs,Diastolic BP,mmHg,EMERGENCY,CLOT,NaN,...,0.0,0.0,0.0,0.0,3.0,0.0,0.0,0.0,0.0,3.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9567009,165894,276112.0,2150-01-14 16:00:00,157.0,Routine Vital Signs,Systolic BP,mmHg,EMERGENCY,HYPOTENSION,NaN,...,157.0,0.0,0.0,3.0,0.0,0.0,0.0,0.0,0.0,3.0
9567010,122498,265437.0,2156-08-09 22:17:00,97.0,Labs,Oxygen Saturation,%,EMERGENCY,INFECTED GRAFT,NaN,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
9567011,120896,205385.0,2192-10-16 02:21:00,99.0,Labs,Oxygen Saturation,%,EMERGENCY,ABDOMINAL PAIN,NaN,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
9567012,111081,220169.0,2102-02-16 10:00:00,94.0,Routine Vital Signs,Systolic BP,mmHg,ELECTIVE,CORONARY ARTERY DISEASE\CORONARY ARTERY BYPASS...,NaN,...,94.0,0.0,0.0,3.0,0.0,0.0,0.0,0.0,0.0,3.0
9567013,193577,252601.0,2123-09-24 13:00:00,60.0,Routine Vital Signs,Diastolic BP,mmHg,EMERGENCY,UPPER GASTROINTESTINAL BLEED,NaN,...,0.0,0.0,0.0,0.0,3.0,0.0,0.0,0.0,0.0,3.0

In [34]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9567014 entries, 0 to 9567013
Data columns (total 34 columns):
 #   Column                   Dtype
---  ------                   -----
 0   Unnamed: 0               int64
 1   Unnamed: 0.1             int64
 2   Unnamed: 0.1.1           int64
 3   HADM_ID                  int64
 4   icustay_id               float64
 5   charttime                object
 6   vital_reading            float64
 7   High_Level_Vital_Name    object
 8   label                    object
 9   UNITNAME                 object
 10  admission_type           object
 11  diagnosis                object
 12  submit_careunit          object
 13  callout_wardid           int64
 14  gender                   object
 15  age                      float64
 16  los                      float64
 17  valuenum                 float64
 18  valueuom                 object
 19  flag                     object
 20  labevents_itemid         int64
 21  Respiratory_Rate         float64
 22  Oxygen_Saturation        float64
 23  Diastolic_BP             float64
 24  Systolic_BP              float64
 25  Heart_Rate               float64
 26  Temperature_C            float64
 27  Systolic_BP_range        float64
 28  Diastolic_BP_range       float64
 29  Heart_Rate_range         float64
 30  Respiratory_Rate_range   float64
 31  Oxygen_Saturation_range  float64
 32  Temperature_C_range      float64
 33  Criticality_Range        float64
dtypes: float64(18), int64(6), object(10)
memory usage: 2.4+ GB

In [5]:
diagnosis = ['ALCOHOLIC HEPATITIS', 'SADDLE PE;TELEMETRY', '(AML) ACUTE MYELOGENOUS LEUKEMIA', 'ASCITIS',
             'A,FLUTTER W,RVR,? NEW BRAIN MASS','CANCER','C3 FRACTURE',
             'ATRIAL FIBRILLATION\PHARMACOLOGICAL / NON PHARM MGMT AFIB ABLATION  **REMOTE WEST**',
             'AORTIC STENOSIS\ AORTIC VALVE REPLACEMENT','ALCOHOL WITHDRAWAL','BLADDER RUPTURE;SEPSIS','ARTERIAL OCCLUSION',
             'ASPIRATION PNEUMONIA','ABDOMINAL PERFORATION','ACUTE RESPIRATORY DISTRESS SYNDROME',
             'ACUTE RENAL FAILURE;HYPOTENSION', 'ATRIAL TACHYCARDIA\EP STUDY; ATRIAL TACHYCARDIA ABLATION **REMOTE WEST**/SDA',
             'ALTERED MENTAL STATUS;TELEMETRY', 'ASCENDING AORTIC ANEURYSM\BENTAL PROCEDURE REDO',
             'ALTERED MENTAL STATUS;FEBRILE']

In [6]:
def xyz(df) :
    
    if (df["admission_type"] == 'EMERGENCY') | (df["diagnosis"] == diagnosis) & (df["Criticality_Range"] >3):
        return "5"
    elif (df["icustay_id"] != 'NULL') & (df["Criticality_Range"] >3):
        return "4"
    elif (df["admission_type"] == 'EMERGENCY') & (df["Criticality_Range"]<=3 ) & (df["Criticality_Range"] > 1):
        return "2"
    elif (df["Criticality_Range"] == 1):
        return "1"
    else:
        return "0"
    
df["Avg_Criticality"] = df.apply(lambda df:xyz(df),  
                                      axis = 1)